@import url('https://fonts.googleapis.com/css2?family=Teko:wght@400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Hind&display=swap');

:root {
    --dark-green: #1a3409;
    --onyx: #444444;
    --off-white: #F6F3F3;
    --light-grey: #E0DFE2;
    --bright-green: #1E855C;
}

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: Hind, sans-serif;
    font-weight: 400;
    color: var(--onyx);
}

/* headings and logo styling */

h1, h2 {
    font-family: Teko, sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: var(--dark-green);
}

.logo {
    float: left;
    margin-left: 60px;
    width: 300px;
    height: 60px;
}

/* navigation link styling */

.apex-nav {
    background-color: var(--light-grey);
    height: 100px;
    font-family: 'Hind', sans-serif;
    color: var(--dark-green);
}

.apex-collapse {
    flex-grow: 0;
    margin-right: 60px;
}

.navbar-light .navbar-nav .nav-link {
    font-family: 'Hind', sans-serif;
    color: var(--dark-green);
}

.navbar-light .navbar-nav .nav-link.active {
    color: var(--bright-green);
}

.navbar-light .navbar-nav .nav-link:hover {
    color: var(--bright-green);
}

.navbar-light .navbar-toggler {
    color: var(--bright-green);
    border-color: var(--bright-green);
}

.navbar-light .navbar-toggler .navbar-nav-icon {
    color: var(--bright-green);
}

@media (max-width: 576px) {
    /* Shrink Logo image at mobile size to allow nav bar to fit */
    .logo { 
            width: 200px;
            height: 40px;
            float: left;
            margin-left: 10px;
    }
}