@import url('https://fonts.googleapis.com/css2?family=Teko:wght@400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Hind&display=swap');

:root {
    --dark-green: #1a3409;
    --onyx: #444444;
    --off-white: #F6F3F3;
    --light-grey: #E0DFE2;
    --bright-green: #1E855C;
}

/* CSS Reset */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Hind, sans-serif;
    font-weight: 400;
    color: var(--onyx);
    background-color: var(--bright-green);
}

#wrapper{
    margin: auto;
    width: 100%;
}

/* headings and logo styling */

h1 {
    font-size: 2.5rem;
}

h2 {
    font-size: 1.5rem;
}

h1, h2 {
    font-family: Teko, sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: var(--dark-green);
}

h3 {
    font-family: Teko, sans-serif;
    color: var(--dark-green);
}

.logo {
    float: left;
    margin-left: 60px;
    width: 300px;
    height: 60px;
}

/* navigation link styling */

.apex-nav {
    background-color: var(--light-grey);
    min-height: 100px;
    font-family: 'Hind', sans-serif;
    color: var(--dark-green);
}

.apex-collapse {
    flex-grow: 0;
    margin-right: 60px; 
}

.navbar-light .navbar-nav .nav-link {
    font-family: 'Hind', sans-serif;
    font-size: 16px;
    color: var(--dark-green);
    padding-right: 30px;
}

.navbar-light .navbar-nav .nav-link.active {
    color: var(--bright-green);
}

.navbar-light .navbar-nav .nav-link:hover {
    color: var(--bright-green);
}

.navbar-light .navbar-toggler {
    color: var(--bright-green);
    border-color: var(--bright-green);
}

.navbar-light .navbar-toggler .navbar-nav-icon {
    color: var(--bright-green);
}

/* hero image section styles */

#hero-outer {
    height: 600px;
    width: 100%;
    overflow: hidden;
    position: relative;
}

#cover-text h1, h2 {
    color: var(--off-white)
}

#hero-image {
    height: 600px;
    width: 100%;
    background: url('../images/hero-image.jpg') no-repeat center center;
    background-size: cover;

    /* zoom effect animation for the here image on loading */
    animation: hero-zoom 5s forwards;

}

/* Level of zoom applied to hero image */
@keyframes hero-zoom {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(1.05);
    }
}

#cover-text {
    font-size: 140%;
    font-family: Teko, sans-serif;
    text-align: center;
    text-shadow: 2px 2px 2px #1A3409;

    width: 400px;
    height: 200px;

    padding-top: 20px;
    padding-left: 10px;

    background-color: rgba(30, 133, 92, .6);

    bottom: 80px;
    right: 400px;

    position: absolute;

    /* fade in effect for cover text */
    animation: fade-intro 5s forwards;

}

/* Fade in effect for cover text */
@keyframes fade-intro {
    0% {
        opacity: 0;
        transform: translateX(-20px);
     }
     100% {
        opacity: 1;
        transform: translateX(0);
     }
}  

#hero-button {
    font-size: 20px;
    font-family: Hind, sans-serif;
    color: var(--onyx);
    width: 160px;
    height: 40px;
    padding: 2px;
    background-color: var(--off-white);
    border-color: var(--dark-green);
    margin: 0 auto;
    margin-top: 10px;
}

#hero-button:hover {
    color: var(--onyx);
    width: 164px;
    height: 44px;
    background-color: var(--bright-green);
    border-color: var(--dark-green);
}

#hero-button a {
    color: var(--onyx);
    text-decoration: none;
}

/* Introduction section styles */

#intro-section {
    background: linear-gradient(to top, #444444e6, #444444e1), url('../images/Intro-image.jpg') no-repeat center center;
    background-size: cover;
    width: 100%;
    min-height: 560px;
    position: relative;
}

#intro-section img {
    margin-top: 40px;
    margin-bottom: 40px;
    overflow: hidden;
    -webkit-box-shadow: 0px -1px 1px 0px #1A3409; 
    box-shadow: 0px -1px 1px 0px #1A3409;
}

#intro-area {
    margin:0 auto;
    padding: 40px 0 40px 0;
    width: 60%
}

#intro-text-area {
    margin-top: 40px;
    margin-bottom: 40px;
    padding-left: 60px;
}

#intro-area h2 {
    font-size: 200%;
    text-align: center;
    color: var(--bright-green);
    text-shadow: 2px 2px 2px #1A3409;
}

#intro-area  p {
    text-align: left;
    color: var(--off-white);
    padding-top: 10px;
    margin-bottom: 20px;
}

/* Form Button style utilised on sign up and contact pages */
.form-button {
    font-size: 20px;
    font-family: Hind, sans-serif;
    color: var(--off-white);
    padding: 10px 20px 10px 20px;
    background-color: var(--bright-green);
    border-color: var(--dark-green);
    display: block;
    margin: 0 auto;
    margin-top: 10px;
}

.form-button a {
    color: var(--off-white);
    text-decoration: none;
}

.form-button a:hover {
    color: var(--bright-green);
}

.form-button:hover {
    color: var(--bright-green);
    padding: 12px 22px 12px 22px;
    background-color: var(--off-white);
    border-color: var(--onyx);
    display: block;
}

/* Training Plan Section Styling */

.training-plans {
    background-color: var(--onyx);
    position: relative;
}

.training-area {
    margin:0 auto;
    padding: 40px 0 40px 0;
}

.training-text {
    display: block;
    margin: 0 auto;
}

.training-text h2 {
    text-align: center;
    padding: 10px 0 10px 0;
    margin: 0 auto;
    text-shadow: 2px 2px 2px #1A3409;
}

.plans-row {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.columns {
    border: 8px solid var(--bright-green);
    margin-top: 40px;
    margin-bottom: 40px;
    width: 300px;
    -webkit-box-shadow: 0px -1px 8px 0px #1A3409; 
    box-shadow: 0px -1px 8px 0px #1A3409;
}

.columns h2 {
    color: var(--light-grey);
    font-family: Teko, sans-serif;
    font-size: 160%;
    text-align: center;
    display: block;
    position: relative;
    padding: 20px 0 10px 0;
    text-shadow: 2px 2px 2px #1A3409;
}

.columns p {
    color: var(--light-grey);
    font-family: Teko, sans-serif;
    font-size: 160%;
    text-align: center;
    display: block;
    position: relative;
    text-shadow: 2px 2px 2px #1A3409;
}

.plans-list {
    color: var(--light-grey);
    list-style-type: none;
}

.plans-list li {
    font-family: Teko, sans-serif;
    font-size: 140%;
    text-shadow: 2px 2px 2px #1A3409;
}

.bronze {
    background: url('../images/bronze.svg') no-repeat center center;
}

.silver{
    background: url('../images/silver.svg') no-repeat center center;
}

.gold {
    background: url('../images/gold.svg') no-repeat center center;
}

/* Footer Styles */

footer {
    width: 100%;
    background-color: var(--bright-green);
}

footer h2 {
    font-size: 200%;
    text-align: left;
    padding-top: 40px;
    text-shadow: 2px 2px 2px #1A3409;
}

.social-networks {
    display: flex;
    list-style-type: none;
}

.social-networks i {
    font-size: 300%;
    padding: 20px 20px 20px 0;
    color: var(--dark-green);
}

.social-networks i:hover {
    color: var(--off-white);
}

.footer-links {
    display: flex;
}

/* Applied Flex Styles to position footer links */
.footer-links ul {
    margin-left: auto;
    align-self: flex-end;
}

.footer-links li {
    display: inline;
    color: var(--off-white);
    margin-right: 10px;
}

.footer-links li a {
    color: var(--off-white);
    text-decoration: none;
}

.footer-links li a:hover {
    color: var(--dark-green);
}

/* About Section Styling rules */

.about-section {
    background-color: var(--off-white)
}

.about-section img {
    margin-top: 40px;
    margin-bottom: 40px;
    overflow: hidden;
    -webkit-box-shadow: 0px -1px 1px 0px #1A3409; 
    box-shadow: 0px -1px 1px 0px #1A3409;
}

.about-section h2 {
    font-family: Teko, sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: var(--dark-green);
}

.about-section ul {
    list-style-type: none;
}

.about-col-1 {
    margin: 60px 0 60px 0;
}

.about-col-2 {
    margin: 60px 0 60px 0;
}

/* About Apex Training Team Styling rules */

.about-team {
    background-color: var(--onyx);
    position: relative;
}

.team-area {
    padding-top: 60px;
    padding-bottom: 60px;
}

.team-area img {
    width: 300px;
    margin: 0 auto;
    display: block;
    overflow: hidden;
    -webkit-box-shadow: 0px -1px 1px 0px #1A3409; 
    box-shadow: 0px -1px 1px 0px #1A3409;
}

/* About Team Overlay Style */

.team-img {
    width: 300px;
    position: relative;
    margin-bottom: 60px;
}

.overlay {  
    background:rgba(0, 0, 0, .75);
    text-align: center;
    position: absolute;
    opacity: 0;
    top: 0;
    width:100%;
    height:100%;
    padding: 100px 0px 20px 0px;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.team-img:hover .overlay {
    opacity: 1;
}

.team-member-name {
    font-family: Teko, sans-serif;
    color: var(--bright-green)
}

.team-member-speciality ul {
    color: var(--off-white);
    list-style-type: none;
    padding-left: 1rem;
    text-align: center;
}

/* About Video Section Style Rules */

.about-video {
    padding: 40px 0 40px 0;
    background-color: var(--light-grey);
}

.video-container {
    position: relative;
    max-width: 1120px;
    max-height: 630px;
    margin: 0 auto;
    padding-bottom: 56.25%;
}

.video-container object,
.video-container embed,
.video-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* About Schedule Table Section Style Rules */

.schedule-section h1 {
    text-align: center;
    padding: 40px 0 20px 0;
}

.table {
    margin-bottom: 80px;
}

/* Signup Form Styling Rules */

.signup-section {
    background-color: var(--off-white);
}

.signup-section h1 {
    text-align: center;
}

.signup-area {
    margin: 60px 0 60px 0;
}

.signup-form {
    max-width: 600px;
    margin: 0 auto;
}

.signup-check {
    max-width: 200px;
    margin-left: 100px;
    display: inline-block;
}

/* Contact page Form Styling Rules */

.contact-section {
    background-color: var(--off-white);
}

.contact-area {
    margin: 60px 0 60px 0;
}

/* Contact page Map Styling Rules */

.map-area {
    margin: 60px 0 60px 0;
    padding-left: 20px;
}

.map-area h2 {
    color: var(--dark-green);
}

/* Privacy Page Styling rules */

#privacy-section {
    background-color: var(--off-white);
    padding: 5% 5% 5% 5%;
}

#privacy-section h1 {
    text-align: center;
}

/* Media Queries */

@media (max-width: 576px) {
    /* Shrink Logo image at mobile size to allow nav bar to fit */
    .logo { 
            width: 200px;
            height: 40px;
            float: left;
            margin-left: 10px;
    }
}

@media (max-width: 821px) {
   #cover-text {
        width: 300px;
        height: 200px;
    
        padding-top: 20px;
        padding-left: 10px;
    
        background-color: rgba(30, 133, 92, .6);
    
        bottom: 80px;
        left: 80px;
    
        position: absolute;
    }

    #cover-text h1 {
        font-size: 1.5rem;
    }

    #cover-text h2 {
        font-size: 1.2rem;
    }
}

@media (max-width: 767px) {
    footer h2 {
        text-align: center;
    }

    footer ul {
        margin: 0 auto;
    }

    .social-networks {
       display: grid;
       grid-template-columns: auto auto auto auto;
       column-gap: 10px;
       justify-content: center;
    }
 }


