@import url('https://fonts.googleapis.com/css2?family=Teko:wght@400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Hind&display=swap');

:root {
    --dark-green: #1a3409;
    --onyx: #444444;
    --off-white: #F6F3F3;
    --light-grey: #E0DFE2;
    --bright-green: #1E855C;
}

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: Hind, sans-serif;
    font-weight: 400;
    color: var(--onyx);
    background-color: var(--bright-green);
}

/* headings and logo styling */

h1 {
    font-size: 2.5rem;
}

h2 {
    font-size: 1.5rem;
}

h1, h2 {
    font-family: Teko, sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: var(--dark-green);
}

h3 {
    font-family: Teko, sans-serif;
    color: var(--dark-green);
}

.logo {
    float: left;
    margin-left: 60px;
    width: 300px;
    height: 60px;
}

/* navigation link styling */

.apex-nav {
    background-color: var(--light-grey);
    min-height: 100px;
    font-family: 'Hind', sans-serif;
    color: var(--dark-green);
}

.apex-collapse {
    flex-grow: 0;
    margin-right: 60px;
    
}

.navbar-light .navbar-nav .nav-link {
    font-family: 'Hind', sans-serif;
    font-size: 16px;
    color: var(--dark-green);
    padding-right: 30px;
}

.navbar-light .navbar-nav .nav-link.active {
    color: var(--bright-green);
}

.navbar-light .navbar-nav .nav-link:hover {
    color: var(--bright-green);
}

.navbar-light .navbar-toggler {
    color: var(--bright-green);
    border-color: var(--bright-green);
}

.navbar-light .navbar-toggler .navbar-nav-icon {
    color: var(--bright-green);
}

/* hero image section styles */

#hero-outer {
    height: 600px;
    width: 100%;
    overflow: hidden;
    position: relative;
}

#cover-text h1, h2 {
    color: var(--off-white)
}

#hero-image {
    height: 600px;
    width: 100%;
    background: url('../images/hero-image.jpg') no-repeat center center;
    background-size: cover;

    /* zoom effect animation for the here image on loading */
    animation: hero-zoom 5s forwards;

}

/* Level of zoom applied to hero image */
@keyframes hero-zoom {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(1.05);
    }
}

#cover-text {
    font-size: 140%;
    font-family: Teko, sans-serif;
    text-align: center;
    text-shadow: 2px 2px 2px #1A3409;

    width: 400px;
    height: 200px;

    padding-top: 20px;
    padding-left: 10px;

    background-color: rgba(30, 133, 92, .6);

    bottom: 80px;
    right: 400px;

    position: absolute;

    /* zoom effect animation for the here image on loading */
    animation: fade-intro 5s forwards;

}

/* Level of zoom applied to hero image */
@keyframes fade-intro {
    0% {
        opacity: 0;
        transform: translateX(-20px);
     }
     100% {
        opacity: 1;
        transform: translateX(0);
     }
}  

#hero-button {
    font-size: 20px;
    font-family: Hind, sans-serif;
    color: var(--onyx);
    width: 160px;
    height: 40px;
    padding: 2px;
    background-color: var(--off-white);
    border-color: var(--dark-green);
    margin: 0 auto;
    margin-top: 10px;
}

/* Introduction section styles */

#intro-section {
    background: linear-gradient(to top, #444444e6, #444444e1), url('../images/Intro-image.jpg') no-repeat center center;
    background-size: cover;
    width: 100%;
    min-height: 560px;
    position: relative;
}


#intro-area {
    margin:0 auto;
    padding: 40px 0 40px 0;
    width: 60%
}

#intro-area h2 {
    font-size: x-large;
    text-align: center;
    color: var(--bright-green);
    text-shadow: 2px 2px 2px #1A3409;
}

#intro-area  p {
    text-align: left;
    color: var(--off-white);
    padding-top: 10px;
    margin-bottom: 20px;
}

#intro-button {
    font-size: 20px;
    font-family: Hind, sans-serif;
    color: var(--off-white);
    width: 180px;
    height: 80px;
    padding: 10px;
    background-color: var(--bright-green);
    border-color: var(--dark-green);
    display: block;
    margin: 0 auto;
    margin-top: 10px;
}

/* Training Plan Section Styling */

.training-plans {
    background-color: var(--onyx);
    position: relative;
}

.training-area {
    margin:0 auto;
    padding: 40px 0 40px 0;
}

.training-text {
    display: block;
    margin: 0 auto;
}

.training-text h2 {
    text-align: center;
    padding: 10px 0 10px 0;
    margin: 0 auto;
    text-shadow: 2px 2px 2px #1A3409;
}

.plans-row {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.columns {
    border: 8px solid var(--bright-green);
    margin-top: 40px;
    margin-bottom: 40px;
    width: 300px;
    -webkit-box-shadow: 0px -1px 8px 0px #1A3409; 
    box-shadow: 0px -1px 8px 0px #1A3409;
}

.columns h2 {
    color: var(--light-grey);
    font-family: Teko, sans-serif;
    font-size: 160%;
    text-align: center;
    display: block;
    position: relative;
    padding: 20px 0 10px 0;
    text-shadow: 2px 2px 2px #1A3409;
}

.columns p {
    color: var(--light-grey);
    font-family: Teko, sans-serif;
    font-size: 160%;
    text-align: center;
    display: block;
    position: relative;
    text-shadow: 2px 2px 2px #1A3409;
}

.plans-list {
    color: var(--light-grey);
    list-style-type: circle;
}

.plans-list li {
    font-family: Teko, sans-serif;
    font-size: 140%;
    text-shadow: 2px 2px 2px #1A3409;
}

/* Footer Styles */

footer {
    width: 100%;
    background-color: var(--bright-green);
}

footer h2 {
    font-size: 200%;
    text-align: left;
    padding-top: 40px;
    text-shadow: 2px 2px 2px #1A3409;
}

.social-networks {
    display: flex;
    list-style-type: none;
}

.social-networks i {
    font-size: 300%;
    padding: 20px 20px 20px 0;
    color: var(--dark-green);
}

.social-networks i:hover {
    color: var(--off-white);
}


.footer-links {
    display: flex;
}
/* Applied Flex Styles to position footer links */
.footer-links ul {
    margin-left: auto;
    align-self: flex-end;
}

.footer-links li {
    display: inline;
    color: var(--off-white);
    margin-right: 10px;
}

.footer-links li a {
    color: var(--off-white);
    text-decoration: none;
}

.footer-links li a:hover {
    color: var(--dark-green);
}


/* About Section Styling rules */

.about-section {
    background-color: var(--off-white)
}

#about-image {
    border: 8px solid var(--bright-green);
    margin-top: 40px;
    margin-bottom: 40px;
    width: 716px;
    -webkit-box-shadow: 0px -1px 1px 0px #1A3409; 
    box-shadow: 0px -1px 1px 0px #1A3409;
}

/* About Apex Training Team Styling rules */

.about-team {
    background-color: var(--onyx);
    position: relative;

@media (max-width: 576px) {
    /* Shrink Logo image at mobile size to allow nav bar to fit */
    .logo { 
            width: 200px;
            height: 40px;
            float: left;
            margin-left: 10px;
    }
}



@media (max-width: 330px) {
    /* remove right margin to avoid moving of hamburger menu to second row of navbar */
    .navbar-brand {
        margin-right: 0;
    }

    #cover-text {
        width: 200px;
        height: 200px;
    
        padding-top: 20px;
        padding-left: 10px;
    
        background-color: rgba(30, 133, 92, .6);
    
        bottom: 80px;
        right: 60px;
    
        position: absolute;
    }

    #cover-text h1 {
        font-size: 1.5rem;
    }

    #cover-text h2 {
        font-size: 1.2rem;
    }
}